<main>

  <section id="about-hero">
    <div class="jumbotron">
      <div class="container">
        <h1>Relive your favorite memories</h1>
      </div>
    </div>
  </section>

  <section id="about-signup">
    <div class="container">
      <h2>No more sorting through photos</h2>
      <p>Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.</p>
      <a href="/contact/new" class="btn btn-primary btn-lg">Sign up</a>
    </div>
  </section>

</main>
