<main>

  <section id="home-hero">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-6">
            <h1>Create and share stories</h1>
            <a href="/about" class="btn btn-primary btn-lg">Get started</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="home-supporting">
    <div class="container">
      <h2>Relive and share your adventures</h2>
      <p>Stories automatically creates a digital journal filled with only your best photos.</p>
    </div>
  </section>

  <section id="home-secondary">
  </section>

  <section id="home-discover">
    <div class="container">
      <h2>Discover Stories</h2>
      <a href="/about" class="btn btn-primary btn-lg">Learn more</a>
    </div>
  </section>

</main>
