// Place all the styles related to the Signups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Signup Page */

#signup-hero {
  .jumbotron {
    background: url('https://stories-rails.herokuapp.com/assets/contact-main-9fb04617516938f849971735fed62270.jpg') center no-repeat;
    .container {
      margin-top: 7.5rem;
      form {
        text-align: left;
        .field {
          label {
            color: white;
            font-weight: bold;
          }
          input {
          	width: 100%;
            height: 3rem;
            margin-bottom: 1.25rem;
        	}
        }
        .actions {
          input {
            padding: 0.75rem 1.5rem;
            cursor: pointer;
            input:hover {
              background-color: white !important;
              transition: all 0.25s;
            }
          }
        }
      }
    }
  }
}
